/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  --iterations: 1;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* Click rotate */
.rotate{
  animation-name: rotate;
  animation-duration: 2.2s;
  animation-iteration-count: var(--iterations);
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  50%{
    color: red;
    border-color: red;
  }
  100%{
    transform: rotate(360deg);
    color: var(--highlight-primary);
  }
}

/* Click scale */
.scale{
  animation-name: scale;
  animation-duration: 2.2s;
  animation-iteration-count: var(--iterations);
}

@keyframes scale {
  0%{
   transform: scale(1);
  }
  50%{
    transform: scale(1.5);
    color: rebeccapurple;
    border-color: rebeccapurple;
  }
  100%{
    transform: scale(1);
  }
}

/* TranslateY */
.translateY {
  animation-name: translateY;
  animation-duration: 1.2s;
  animation-iteration-count: var(--iterations);
  animation-timing-function: cubic-bezier(.48,.48,.72,.72)
}

@keyframes translateY {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(6rem);
    color: orange;
    border-color: orange;
  }
  100%{
    transform: translateY(0);
  }
}

/* TranslateX */
.translateX {
  animation-name: translateX;
  animation-duration: 1.2s;
  animation-iteration-count: var(--iterations);
  animation-timing-function: cubic-bezier(.48,.48,.72,.72)
}

@keyframes translateX {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-16rem);
    color: orange;
    border-color: orange;
  }
  100%{
    transform: translateX(0);
  }
}

/* Keydown */
.keydown {
  animation-name: keydown;
  animation-duration: 1.2s;
  animation-iteration-count: var(--iterations);
  animation-timing-function: cubic-bezier(.48,.48,.72,.72)
}

@keyframes keydown {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(6rem);
    color: green;
    border-color: green;
  }
  50%{
    transform: rotate(360deg);
  }
  75%{
    transform: translateY(-6rem);
  }
  100%{
    transform: translateY(0);
  }
}


/* Keyup */
.keyup {
  animation-name: keyup;
  animation-duration: 1.2s;
  animation-iteration-count: var(--iterations);
  animation-timing-function: cubic-bezier(.48,.48,.72,.72)
}

@keyframes keyup {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-24rem);
    color: hotpink;
    border-color: hotpink;
  }
  100%{
    transform: translateX(0);
  }
}


/* Longpress */
.longpress {
  animation-name: longpress;
  animation-duration: 3.2s;
  animation-iteration-count: var(--iterations);
  animation-timing-function: cubic-bezier(.48,.48,.72,.72)
}

@keyframes longpress {
  0%{
    transform: translateY(0);
  }
  16%{
    transform: translateY(8rem);
    color: red;
    border-color: red;
  }
  32%{
    transform: translateY(16rem);
    color: orange;
    border-color: orange;
  }
  48%{
    transform: translateY(24rem);
    color: green;
    border-color: green;
  }
  64%{
    transform: translateY(16rem);
    color: blue;
    border-color: blue;
  }
  80%{
    transform: translateY(8rem);
    color: purple;
    border-color: purple;
  }
  100%{
    transform: translateY(0);
  }
}


/* Device rotate */
.deviceRotate {
  animation-name: deviceRotate;
  animation-duration: 1.2s;
  animation-iteration-count: var(--iterations);
  animation-timing-function: cubic-bezier(.48,.48,.72,.72)
}

@keyframes deviceRotate {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(90deg);
    border-color: red;
    color: red;
  }
  100%{
    transform: rotate(0);
  }
}